/* SECTION .emp__container PARENT class*/
.emp__container {
  a {
  }
  b {
  }
  .header-title {
    color: #2e2e2e;
    font-family: "OpenSans";
    font-size: 32px;
    font-weight: 700;
    @media (max-width: 768px) {
      text-align: center;
    }
  }

  /* SECTION slick.css overwrite */
  .slick-dots {
    button::before {
      content: "";
      width: 10px;
      height: 10px;
      border: 1px solid #c0c0c0;
      background-color: #ececec;
      border-radius: 50%;
    }
  }
  .slick-active {
    button::before {
      border: 1px solid #ee1818;
      background-color: #ff3333;
    }
  }

  /* SECTION button css overwrite */
  .btn-outline {
    &.btn-primary {
      background-color: transparent;
      color: #f33;
      &:hover,
      &:active,
      &:focus {
        color: #fff;
        background-color: #f33;
      }
    }
  }

  /* SECTION tooltip override */
  .tooltip {
  }
  .tooltip.top .tooltip-arrow {
    border-top-color: rgba(46, 46, 46, 0.1);
  }
  .tooltip-inner {
    color: #858f96;
    font-family: "OpenSans";
    font-size: 12px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(46, 46, 46, 0.1);
    background-color: #ffffff;
    text-align: left;
    padding: 8px 10px;
  }

  /* SECTION override checkobx */
  .checkbox input[type="checkbox"] {
    display: block;
  }
  .checkbox {
    label {
      position: relative;
      &:hover {
        cursor: pointer;
      }
      &.disabled {
        &:hover {
          cursor: not-allowed !important;
        }
      }
    }
    input[type="checkbox"] {
      display: block;
      background: #ffffff;
      border: 1px solid #c0c0c0;
      border-radius: 4px;
      &:disabled {
        background-color: #c0c0c0;
        &:hover {
          cursor: not-allowed !important;
        }
        @media (max-width: 768px) {
          pointer-events: none;
        }
      }
      &:checked ~ span {
        position: absolute;
        width: 18px;
        height: 18px;
        background-image: url("../../images/emp/check-red.svg");
        left: 0px;
        top: 0px;
        background-size: contain;
      }
    }
  }

  /* END .emp__container */
}

.kagebunshin {
  display: none !important;
}

/* SECTION .emp__modal PARENT class */
.emp__modal {
  .modal-content {
    border-radius: 0px;
    padding: 45px 50px;
    @media (max-width: 768px) {
      padding: 45px 10px;
    }
  }
  .modal-header {
    border-radius: 0px;
    border-bottom: 0px;
    .modal-title {
      color: #172633;
      font-family: "OpenSans";
      font-size: 20px;
      font-weight: 700;
    }
    .modal-subtitle {
      color: #909090;
      font-family: "OpenSans";
      font-size: 14px;
      font-weight: 600;
    }
  }
}

/* SECTION .plan__box COMPONENT */
.plan__box {
  margin-top: 60px;
  min-height: 469px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  border: 1px solid #dde3e7;
  background-color: #ffffff;
  padding: 40px 70px;
  margin-bottom: 72px;
  @media (max-width: 768px) {
    padding: 20px 15px;
    margin-bottom: 32px;
  }
  &--title {
    text-align: center;
    b {
      color: #2e2e2e;
      font-family: "OpenSans";
      font-size: 32px;
      font-weight: 700;
      display: block;
      margin-bottom: 6px;
    }
    small {
      color: #909090;
      font-family: "OpenSans";
      font-size: 14px;
      font-weight: 600;
    }
    margin-bottom: 45px;
  }
  &--form {
    .form-label {
      color: #2e2e2e;
      font-family: "OpenSans";
      font-size: 14px;
      line-height: 21px;
      margin-bottom: 10px;
    }
    button[type="submit"] {
      min-width: 200px;
      margin-top: 32px;
      &:hover {
        cursor: wait;
      }
    }
    padding-bottom: 35px;
    border-bottom: 1px solid #dde3e7;
  }
  &--footer {
    img {
      width: 27px;
      height: 36px;
      margin-right: 10px;
    }
    .copy {
      b {
        color: #2e2e2e;
        font-family: "OpenSans";
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0.27px;
        display: block;
      }
      color: #656565;
      font-family: "OpenSans";
      font-size: 14px;
    }
    display: flex;
    padding: 32px 0px;
  }
}

/* SECTION .feature__box COMPONENT */
.feature__box {
  margin-bottom: 52px;
  &--title {
    @media (max-width: 768px) {
      text-align: center;
    }
  }
  &--card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    > img {
      margin-top: 30px;
    }
    > .title {
      color: #2e2e2e;
      font-family: "OpenSans";
      font-size: 20px;
      font-weight: 700;
      margin: 10px 0px;
      @media (max-width: 768px) {
      }
    }
    > .copy {
      color: #2e2e2e;
      font-family: "OpenSans";
      font-size: 16px;
    }
  }
}

/* SECTION .partners__box COMPONENT */
.partners__box {
  $parent: &;
  margin-bottom: 32px;
  &--title {
    margin-top: 40px;
    small {
      color: #909090;
      margin-top: 10px;
      font-family: "OpenSans";
      font-size: 13px;
      font-weight: 600;
    }
    @media (max-width: 768px) {
      text-align: center;
      margin-top: 0px;
    }
  }
  &--slick {
    display: flex;
    flex-wrap: wrap;
  }
  &--cluster {
    display: flex;
    flex-wrap: wrap;
    #{$parent}--card {
      width: calc(100% / 2);
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        transform: scale(0.8);
        transform-origin: center center;
      }
    }
  }
  &--card {
    > img {
      transition: 0.3s ease-in-out;
      filter: grayscale(100%);
    }
    &:hover {
      > img {
        filter: grayscale(0%);
      }
    }
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 150px;
    &.flushed--left {
      justify-content: flex-start;
    }
  }
  &--footer {
    padding-top: 30px;
  }
  &--footnote {
    color: #666666;
    font-family: "OpenSans";
    font-size: 14px;
    border-top: 1px solid #dde3e7;
    padding-top: 50px;
    p {
      margin-bottom: 20px;
    }
  }
}

/* SECTION .breakdown__box component */
.breakdown__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  &--wrapper {
    @media (max-width: 768px) {
      padding: 15px 0px;
    }
  }
  &--card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    img {
      margin-right: 20px;
      width: 58px;
      height: 58px;
      @media (max-width: 768px) {
        width: 42px;
        height: 42px;
      }
    }
    margin-bottom: 20px;
  }
  &--copy {
    max-width: 80%;
    display: flex;
    b {
      color: #9ba4ab;
      font-family: "OpenSans";
      font-size: 16px;
      font-weight: 600;
      &.stronger {
        color: #172633;
        font-family: "OpenSans";
        font-size: 16px;
        font-weight: 700;
      }
      @media (max-width: 768px) {
        font-size: 12px;
      }
    }
    p {
      color: #2e2e2e;
      font-family: "OpenSans";
      font-size: 14px;
      @media (max-width: 768px) {
        font-size: 12px;
      }
    }
  }
  &--cost {
    color: #858f96;
    font-family: "OpenSans";
    font-size: 22px;
    font-weight: 600;
    max-width: 120px;
    @media (max-width: 768px) {
      font-size: 12px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &.stronger {
      color: #303b44;
      font-family: "OpenSans";
      font-size: 24px;
      font-weight: 700;
      @media (max-width: 768px) {
        font-size: 14px;
      }
    }
  }
}

/* SECTION .emp__results */
.emp__results {
  display: none;
  position: relative;
  min-height: 1000px;
  .active__index {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
  }
}

/* SECTION .emp__menu__top */
.emp__menu__top {
  position: absolute;
  z-index: 100;
  width: 100%;
  &.sticky--nav {
    transition: 0.2s ease-in-out;
    position: fixed;
    top: 48px;
    @media (max-width: 768px) {
      position: absolute;
    }
  }
  &.sticky--nav--shift {
    top: 119px !important;
  }
  &--body {
    display: flex;
    padding-top: 35px;
    padding-bottom: 35px;
    > img {
      margin-right: 20px;
    }
  }
  &--copy {
    p {
      margin-top: 15px;
      color: #656565;
      font-family: "OpenSans";
      font-size: 14px;
      a {
        margin-left: 20px;
      }
    }
  }
  &--megadropdown {
    border-top: 1px solid #f3f3f3;
    form {
      padding-top: 45px;
      padding-bottom: 45px;
    }
    .form-label {
      margin-bottom: 15px;
    }
    .button-group {
      padding-top: 30px;
      a {
        margin-left: 10px;
      }
    }
  }
}

.emp__menu__filter {
  padding-top: calc(165px + 25px);
  padding-bottom: 25px;
  &--row {
    .form-label {
      margin-bottom: 15px;
    }
  }
}

.emp__results__box {
  min-height: 1000px;
  &--filterInfo {
    color: #2e2e2e;
    font-family: "OpenSans";
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  &--card {
    border: 1px solid #dcdcdc;
  }
  &--list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    flex-wrap: wrap; 
  }
  &--pagination{
    margin-bottom: 110px;
    // .page-item.disabled{ 
    //     pointer-events: none; 
    // }
  }
  &--card {
    width: calc(95% / 3);
    &.placeholder {
      visibility: hidden;
      opacity: 0;
      pointer-events: none;
      order: 99;
    }
    @media (max-width: 768px) {
      width: 100%;
      &.placeholder {
        display: none;
      }
    }
    margin-bottom: 32px;
  }
}

.savings__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 15px 15px 15px;
  @media (max-width: 768px) {
    display: flex;
    flex-direction: row;
  }
  &--logo {
    height: 35px;
    width: auto;
    
    margin-bottom: 25px;
    @media (max-width: 768px) {
      height: auto;
      width: 150px;
      order: 2;
      align-self: center;
    }
  }

  &--copy {
    display: flex;
    flex-direction: column;
    width: 100%;
    .heading {
      color: #858f96;
      font-family: "OpenSans";
      font-size: 12px;
    }
    .body {
      color: #1a1a1a;
      font-family: "OpenSans";
      font-size: 32px;
      font-weight: 700;
      text-transform: uppercase;
    }
    .footnote {
      color: #2e2e2e;
      font-family: "OpenSans";
      font-size: 12px;
    }
    @media (max-width: 768px) {
      order: 1;
    }
  }
}

.plan__details {
  padding: 15px;
  border-top: 1px solid #f5f7f9;
  border-bottom: 1px solid #f5f7f9;
  .compareItems--details & {
    padding: 15px 0px;
    border-top-color: #dcdcdc;
  }
  &--card {
    &.border-top {
      border-top: 1px solid #f5f7f9;
      margin-top: 15px;
      padding-top: 30px !important;
      .compareItems--details & {
        border-color: #dcdcdc;
      }
      &--only {
        border-top: 1px solid #f5f7f9;
        margin-top: 15px;
        padding-top: 30px !important;
        border-bottom: 0px solid transparent;
        .compareItems--details & {
          border-top: 1px solid #dcdcdc;
          border-bottom: none;
        }
      }
    }
    .heading {
      display: block;
      color: #858f96;
      font-family: "OpenSans";
      font-size: 12px;
      margin-bottom: 13px;
      .compareItems--details & {
        color: #656565;
        font-family: "OpenSans";
        font-size: 18px;
        font-weight: 300;
        @media (max-width: 768px) {
          font-size: 12px;
        }
      }
      & + .body {
        margin-bottom: 15px;
      }
    }
    .body {
      display: block;
      color: #172633;
      font-family: "OpenSans";
      font-size: 16px;
      .compareItems--details & {
        font-size: 18px;
        color: #000000;
        @media (max-width: 768px) {
          font-size: 12px;
        }
      }
      + .body {
        margin-bottom: 30px;
      }
      &:last-child {
        margin-bottom: 0px !important;
      }
    }

    small {
      font-size: 12px;
    }
    .plan-name {
      text-transform: uppercase;
    }
    .promotion {
      color: #2e2e2e;
      font-family: "OpenSans";
      font-size: 14px;
    }
    &.narrow--pad {
      margin-bottom: 10px;
    }
    margin-bottom: 20px;
    .compareItems--details & {
      margin-bottom: 0px;
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }
}

.compareItems {
  > div {
    padding-right: 0px;
    padding-left: 0px;
  }
  &--details {
    margin-top: 15px;
    > div {
      padding-right: 0px;
      padding-left: 0px;
    }
    > div:nth-child(2),
    > div:nth-child(3) {
      div.heading {
        visibility: hidden;
        pointer-events: none;
      }
    }
  }
  .btn.btn-primary {
    @media (max-width: 768px) {
      font-size: 12px;
      min-width: 100px;
      height: 35px;
      padding: 8px 5px;
    }
  }
  &--card {
    margin-top: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 4px;
    border: 1px solid #dde3e7;
    max-width: 160px;
    margin-bottom: 15px;
    @media (max-width: 768px) {
      padding-top: 20px;
      padding-bottom: 20px;
      width: 100px;
      min-height: 140px;
    }
    img {
      height: 30px;
      width: auto;
      margin-bottom: 20px;
      @media (max-width: 768px) {
        width: 60px;
        height: auto;
      }
    }
    .heading {
      color: #383636;
      font-family: "OpenSans";
      font-size: 26px;
      font-weight: 700;
      text-transform: uppercase;
      @media (max-width: 768px) {
        font-size: 16px;
      }
    }
    .footnote {
      color: #858f96;
      font-family: "OpenSans";
      font-size: 12px;
      @media (max-width: 768px) {
        font-size: 10px;
      }
    }
    .remove__comparison {
      background-color: transparent;
      position: absolute;
      height: 25px;
      width: 25px;
      background-image: url("../../images/emp/close.svg");
      background-size: contain;
      top: -10px;
      right: -10px;
      border: none;
      @media (max-width: 768px) {
        height: 18px;
        width: 18px;
      }
    }
  }
}

.compare__plans {
  color: #909090;
  font-family: "OpenSans";
  font-size: 16px;
  padding: 15px 15px 20px 15px;
}

/* SECTION .emp__compareConfirmation */
.emp__compareConfirmation {
  position: fixed;
  z-index: 50;
  width: 100%;
  height: 70px;
  bottom: 0px;
  box-shadow: 0 -2px 1px rgba(0, 0, 0, 0.1);
  background-color: #f7f7f7;
  &.undock--nav {
    transition: 0.2s ease-in-out;
    position: absolute;
    bottom: -12px;
  }
  &--body {
    height: 70px;
    display: flex;
    align-items: center;
    > div {
      width: 100%;
    }
  }
  &--copy {
    color: #000000;
    font-family: "OpenSans";
    font-size: 24px;
    font-weight: 600;
    margin-top: 7px;
    .compareAmount,
    .compareState {
      font-family: "OpenSans";
      font-weight: 300;
    }
    @media (max-width: 768px) {
      font-size: 18px;
    }
  }
}

/* SECTION .emp__recompareConfirmation */
.emp__recompareConfirmation {
  position: absolute; 
  z-index: 100;
  width: 100%;
  height: 70px;
  box-shadow: 0 -2px 1px rgba(0, 0, 0, 0.1);
  background-color: #f7f7f7;
  border-bottom: 1px solid #ff5544;
  &.sticky--nav {
    transition: 0.2s ease-in-out;
    position: fixed;
    top: 48px;
    @media (max-width: 768px) {
      position: absolute;
    }
  }
  &.sticky--nav--shift {
    top: 119px !important;
  }
  &--body {
    height: 70px;
    display: flex;
    align-items: center;
    > div {
      width: 100%;
    }
  }
  &--copy {
    color: #000000;
    font-family: "OpenSans";
    font-size: 24px;
    font-weight: 600;
    margin-top: 7px;
    .compareAmount,
    .compareState {
      font-family: "OpenSans";
      font-weight: 300;
    }
    @media (max-width: 768px) {
      font-size: 18px;
    }
  }
}

/* STUB emp__comparison */
.emp__comparison {
  display: none;
  position: relative;
  min-height: 1000px;
  .active__index {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
  }
}
.emp__comparison__box {
  min-height: 1000px;
  padding-top: 100px;
}

/* STUB loader styles */
.emp__loader {
  // margin-top: 180px;
  position: absolute;
  top: 180px;
  width: 100%;
  height: calc(100% - 180px);
  z-index: 50;
  background-color: rgba(255, 255, 255, 0.9);
  .active__index {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
  }
  &.sticky--nav {
    transition: 0.2s ease-in-out;
    position: fixed;
    top: 180px;
    @media (max-width: 768px) {
      position: absolute;
    }
  }
  &.sticky--nav--shift {
    top: 200px !important;
  }
  &--box {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .animated-icon {
    position: relative;

    margin-top: 150px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out;
    &:hover {
      transform: scale(1.3);
    }
    img:first-child {
      width: 60px;
      height: 60px;
      position: absolute;
      z-index: 10;
      top: 0px;
      left: 0px;
      pointer-events: none;
      animation: merryGoRound 0.5s infinite;
      animation-timing-function: linear;
    }
    img:last-child {
      position: relative;
      z-index: 15;
      pointer-events: none;
      animation: flashyflashy 2s infinite;
    }
  }
  .footnote {
    color: #2e2e2e;
    font-family: "OpenSans";
    font-size: 14px;
    font-weight: 600;
    margin-top: 30px;
    &:after {
      overflow: hidden;
      display: inline-block;
      vertical-align: bottom;
      animation: ellipsis steps(4, end) 2s infinite;
      content: "\2026";
      width: 0px;
    }
  }
}
@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}
@keyframes flashyflashy {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.8;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes merryGoRound {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* STUB DOM parent controllers */
.emp__landing {
  // display: none;
  display: block;
}
.emp__results {
  // display: block;
  display: none;
}
.group-tiles {
  // display: none !important;
}
.emp__compareConfirmation {
  display: none;
}
.emp__loader {
  display: none;
}
.emp__comparison {
  // display: block;
  display: none;
}
