/* SECTION .emp__container PARENT class*/
.emp__container {
  /* SECTION slick.css overwrite */
  /* SECTION button css overwrite */
  /* SECTION tooltip override */
  /* END .emp__container */
}
.emp__container .header-title {
  color: #2e2e2e;
  font-family: "OpenSans";
  font-size: 32px;
  font-weight: 700;
}
@media (max-width: 768px) {
  .emp__container .header-title {
    text-align: center;
  }
}
.emp__container .slick-dots button::before {
  content: "";
  width: 10px;
  height: 10px;
  border: 1px solid #c0c0c0;
  background-color: #ececec;
  border-radius: 50%;
}
.emp__container .slick-active button::before {
  border: 1px solid #ee1818;
  background-color: #ff3333;
}
.emp__container .btn-outline.btn-primary {
  background-color: transparent;
  color: #f33;
}
.emp__container .btn-outline.btn-primary:hover, .emp__container .btn-outline.btn-primary:active, .emp__container .btn-outline.btn-primary:focus {
  color: #fff;
  background-color: #f33;
}
.emp__container .tooltip.top .tooltip-arrow {
  border-top-color: rgba(46, 46, 46, 0.1);
}
.emp__container .tooltip-inner {
  color: #858f96;
  font-family: "OpenSans";
  font-size: 12px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(46, 46, 46, 0.1);
  background-color: #ffffff;
  text-align: left;
  padding: 8px 10px;
}

.kagebunshin {
  display: none !important;
}

/* SECTION .emp__modal PARENT class */
.emp__modal .modal-content {
  border-radius: 0px;
  padding: 45px 50px;
}
@media (max-width: 768px) {
  .emp__modal .modal-content {
    padding: 45px 10px;
  }
}
.emp__modal .modal-header {
  border-radius: 0px;
  border-bottom: 0px;
}
.emp__modal .modal-header .modal-title {
  color: #172633;
  font-family: "OpenSans";
  font-size: 20px;
  font-weight: 700;
}
.emp__modal .modal-header .modal-subtitle {
  color: #909090;
  font-family: "OpenSans";
  font-size: 14px;
  font-weight: 600;
}

/* SECTION .plan__box COMPONENT */
.plan__box {
  margin-top: 60px;
  min-height: 469px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  border: 1px solid #dde3e7;
  background-color: #ffffff;
  padding: 40px 70px;
  margin-bottom: 72px;
}
@media (max-width: 768px) {
  .plan__box {
    padding: 20px 15px;
    margin-bottom: 32px;
  }
}
.plan__box--title {
  text-align: center;
  margin-bottom: 45px;
}
.plan__box--title b {
  color: #2e2e2e;
  font-family: "OpenSans";
  font-size: 32px;
  font-weight: 700;
  display: block;
  margin-bottom: 6px;
}
.plan__box--title small {
  color: #909090;
  font-family: "OpenSans";
  font-size: 14px;
  font-weight: 600;
}
.plan__box--form {
  padding-bottom: 35px;
  border-bottom: 1px solid #dde3e7;
}
.plan__box--form .form-label {
  color: #2e2e2e;
  font-family: "OpenSans";
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 10px;
}
.plan__box--form button[type="submit"] {
  min-width: 200px;
  margin-top: 32px;
}
.plan__box--form button[type="submit"]:hover {
  cursor: wait;
}
.plan__box--footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 32px 0px;
}
.plan__box--footer img {
  width: 27px;
  height: 36px;
  margin-right: 10px;
}
.plan__box--footer .copy {
  color: #656565;
  font-family: "OpenSans";
  font-size: 14px;
}
.plan__box--footer .copy b {
  color: #2e2e2e;
  font-family: "OpenSans";
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.27px;
  display: block;
}

/* SECTION .feature__box COMPONENT */
.feature__box {
  margin-bottom: 52px;
}
@media (max-width: 768px) {
  .feature__box--title {
    text-align: center;
  }
}
.feature__box--card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.feature__box--card > img {
  margin-top: 30px;
}
.feature__box--card > .title {
  color: #2e2e2e;
  font-family: "OpenSans";
  font-size: 20px;
  font-weight: 700;
  margin: 10px 0px;
}
.feature__box--card > .copy {
  color: #2e2e2e;
  font-family: "OpenSans";
  font-size: 16px;
}

/* SECTION .partners__box COMPONENT */
.partners__box {
  margin-bottom: 32px;
}
.partners__box--title {
  margin-top: 40px;
}
.partners__box--title small {
  color: #909090;
  margin-top: 10px;
  font-family: "OpenSans";
  font-size: 13px;
  font-weight: 600;
}
@media (max-width: 768px) {
  .partners__box--title {
    text-align: center;
    margin-top: 0px;
  }
}
.partners__box--slick {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.partners__box--cluster {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.partners__box--cluster .partners__box--card {
  width: calc(100% / 2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.partners__box--cluster .partners__box--card img {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transform-origin: center center;
          transform-origin: center center;
}
.partners__box--card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  min-height: 150px;
}
.partners__box--card > img {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}
.partners__box--card:hover > img {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}
.partners__box--card.flushed--left {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.partners__box--footer {
  padding-top: 30px;
}
.partners__box--footnote {
  color: #666666;
  font-family: "OpenSans";
  font-size: 14px;
  border-top: 1px solid #dde3e7;
  padding-top: 50px;
}
.partners__box--footnote p {
  margin-bottom: 20px;
}

/* SECTION .breakdown__box component */
.breakdown__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 768px) {
  .breakdown__box--wrapper {
    padding: 15px 0px;
  }
}
.breakdown__box--card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  margin-bottom: 20px;
}
.breakdown__box--card img {
  margin-right: 20px;
  width: 58px;
  height: 58px;
}
@media (max-width: 768px) {
  .breakdown__box--card img {
    width: 42px;
    height: 42px;
  }
}
.breakdown__box--copy {
  max-width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.breakdown__box--copy b {
  color: #9ba4ab;
  font-family: "OpenSans";
  font-size: 16px;
  font-weight: 600;
}
.breakdown__box--copy b.stronger {
  color: #172633;
  font-family: "OpenSans";
  font-size: 16px;
  font-weight: 700;
}
@media (max-width: 768px) {
  .breakdown__box--copy b {
    font-size: 12px;
  }
}
.breakdown__box--copy p {
  color: #2e2e2e;
  font-family: "OpenSans";
  font-size: 14px;
}
@media (max-width: 768px) {
  .breakdown__box--copy p {
    font-size: 12px;
  }
}
.breakdown__box--cost {
  color: #858f96;
  font-family: "OpenSans";
  font-size: 22px;
  font-weight: 600;
  max-width: 120px;
}
@media (max-width: 768px) {
  .breakdown__box--cost {
    font-size: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.breakdown__box--cost.stronger {
  color: #303b44;
  font-family: "OpenSans";
  font-size: 24px;
  font-weight: 700;
}
@media (max-width: 768px) {
  .breakdown__box--cost.stronger {
    font-size: 14px;
  }
}

/* SECTION .emp__results */
.emp__results {
  display: none;
  position: relative;
  min-height: 1000px;
}
.emp__results .active__index {
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
}

/* SECTION .emp__menu__top */
.emp__menu__top {
  position: absolute;
  z-index: 100;
  width: 100%;
}
.emp__menu__top.sticky--nav {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  position: fixed;
  top: 48px;
}
.emp__menu__top.sticky--nav--shift {
  top: 119px !important;
}
.emp__menu__top--body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 35px;
  padding-bottom: 35px;
}
.emp__menu__top--body > img {
  margin-right: 20px;
}
.emp__menu__top--copy p {
  margin-top: 15px;
  color: #656565;
  font-family: "OpenSans";
  font-size: 14px;
}
.emp__menu__top--copy p a {
  margin-left: 20px;
}
.emp__menu__top--megadropdown {
  border-top: 1px solid #f3f3f3;
  padding-top: 45px;
  padding-bottom: 45px;
}
.emp__menu__top--megadropdown .form-label {
  margin-bottom: 15px;
}
.emp__menu__top--megadropdown .button-group {
  padding-top: 30px;
}
.emp__menu__top--megadropdown .button-group a {
  margin-left: 10px;
}

.emp__menu__filter {
  padding-top: calc(165px + 25px);
  padding-bottom: 25px;
}
.emp__menu__filter--row .form-label {
  margin-bottom: 15px;
}

.emp__results__box {
  min-height: 1000px;
}
.emp__results__box--filterInfo {
  color: #2e2e2e;
  font-family: "OpenSans";
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 20px;
}
.emp__results__box--card {
  border: 1px solid #dcdcdc;
}
.emp__results__box--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.emp__results__box--card {
  width: calc(95% / 3);
  margin-bottom: 32px;
}
.emp__results__box--card.placeholder {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
@media (max-width: 768px) {
  .emp__results__box--card {
    width: 100%;
  }
  .emp__results__box--card.placeholder {
    display: none;
  }
}

.savings__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 15px 15px 15px;
  border-bottom: 1px solid #f5f7f9;
}
@media (max-width: 768px) {
  .savings__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.savings__info--logo {
  width: 150px;
  margin-bottom: 25px;
}
@media (max-width: 768px) {
  .savings__info--logo {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -ms-flex-item-align: center;
        align-self: center;
  }
}
.savings__info--copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
.savings__info--copy .heading {
  color: #858f96;
  font-family: "OpenSans";
  font-size: 12px;
}
.savings__info--copy .body {
  color: #1a1a1a;
  font-family: "OpenSans";
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
}
.savings__info--copy .footnote {
  color: #2e2e2e;
  font-family: "OpenSans";
  font-size: 12px;
}
@media (max-width: 768px) {
  .savings__info--copy {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.plan__details {
  padding: 15px;
  border-bottom: 1px solid #f5f7f9;
}
.plan__details--card {
  margin-bottom: 20px;
}
.plan__details--card .heading {
  color: #858f96;
  font-family: "OpenSans";
  font-size: 12px;
  margin-bottom: 13px;
}
.plan__details--card .body {
  color: #172633;
  font-family: "OpenSans";
  font-size: 16px;
}
.plan__details--card small {
  font-size: 12px;
}
.plan__details--card .plan-name {
  text-transform: uppercase;
}
.plan__details--card .promotion {
  color: #2e2e2e;
  font-family: "OpenSans";
  font-size: 14px;
}
.plan__details--card.narrow--pad {
  margin-bottom: 10px;
}

.compare__plans {
  color: #909090;
  font-family: "OpenSans";
  font-size: 16px;
  padding: 15px 15px 20px 15px;
}

/* STUB test */

/*# sourceMappingURL=emp.css.map */